.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 17px;
}

.nav-links li {
  margin: 0 0.5rem;
  height: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
  
}

.nav-links a:not(.nav-logo) {
  border: 1px solid transparent;
  color: #51495f;
  text-decoration: none;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo__div {
  display: flex;
  align-items: flex-end;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 60%;
}

.nav-logo__img {
  height: 60%;
  width: auto;
}

.nav-link__side-divs {
  display: flex;
  height: 45%;
  align-items: center;
}

.nav-link__side-divs a:hover:not(.landing-button_account),
.nav-links a.active:not(.landing-button_account) {
  border-bottom: 1.5px solid grey;
  color: #292929;
}

.landing-button_account {
  background: #81ebeb;
  border-radius: 4px;
}
