.bacle-tools__card {
    background-color: #1d1637;
    border-radius: 8.5px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    justify-content: center;
    align-items: center;
    width: 38%;
    margin: 0.5rem;
}

.bacle-tools__card__icon {
    width: 15%;
    margin-bottom: 1rem;
}

.card-icon__file {
    width: 100%;
    height: auto;
}

.bacle-tools__card__title {
    margin-bottom: 1rem;
    font-size: 23px;
}

.bacle-tools__card__description {
    text-align: center;
}