.why-bacle__card {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 2rem;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.why-bacle__card__icon {
  width: 18%;
  height: auto;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon__file {
  width: 100%;
  height: auto;
}

.why-bacle__card__title {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.why-bacle__card__title h2 {
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
}

.why-bacle__card__icon__description {
  text-align: center;
}
